<div class="p-6">
  <docent-info [docentResponse]="docentQuery.data()" />
</div>

<div class="px-6">
  <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4">
    <div>
      <p class="font-medium text-base">Listado de Docentes</p>
      <p class="text-sm text-gray-500">Gestiona la información de los docentes registrados</p>
    </div>
    <button
      type="button"
      (click)="openModal()"
      class="w-full md:w-fit bg-emerald-600 text-white flex items-center justify-center gap-2 font-medium transition-colors hover:bg-emerald-700"
    >
      <shared-icon icon="add" classList="w-4 h-4" />
      <span class="text-sm">Agregar</span>
    </button>
  </div>
</div>

<div class="p-6">
  <docent-table
    [docents]="docentQuery.data()?.data"
    [isLoading]="docentQuery.isLoading()"
    (onEdit)="openModal($event)"
    (onDelete)="onDelete($event)"
  />
  <div class="mt-4 h-[30px]">
    @if(docentQuery.isSuccess()){
    <shared-pagination [currentPage]="currentPage()" [pages]="docentQuery.data().pages" />
    }
  </div>
</div>

@if(isOpenModal()){
<shared-modal>
  <docent-form [docentInfo]="docentInfo()" />
</shared-modal>

}

<!--  -->

@if (isOpenModalConfirmation()) {
<shared-modal-confirmation />
}
