<div class="grid xl:grid-cols-4 gap-4">
  <!-- Card 1 -->
  <div
    class="p-4 border border-gray-300 rounded-lg shadow-xs flex justify-between items-center gap-4"
  >
    <div>
      <p class="text-sm font-medium text-gray-600">Total Tarifas</p>
      <p class="text-2xl font-bold text-gray-900">{{ feeResponse()?.count ?? 0 }}</p>
      <!-- <p class="text-xs text-emerald-600"></p> -->
    </div>
    <div class="bg-emerald-100 rounded-lg flex justify-center items-center h-12 w-12">
      <shared-icon icon="program" classList="text-emerald-600 h-6 w-6" />
    </div>
  </div>

  <!-- Card 2 -->
  <div
    class="p-4 border border-gray-300 rounded-lg shadow-xs flex justify-between items-center gap-4"
  >
    <div>
      <p class="text-sm font-medium text-gray-600">SMMLV Actual ({{ yearCurrent() }})</p>
      @if (smmlv()) {
      <p class="text-2xl font-bold text-gray-900">
        {{ smmlv()?.value | currency : 'COP' : 'symbol' : '1.0-0' }}
      </p>
      }@else {
      <p class="text-2xl font-bold text-gray-900">No registrado</p>
      }
      <p class="text-xs text-blue-600">Salario Mínimo Mensual Legal Vigente</p>
    </div>
    <div class="bg-blue-100 rounded-lg flex justify-center items-center h-12 w-12">
      <shared-icon icon="economic" classList="text-blue-600 h-6 w-6" />
    </div>
  </div>

  <!-- Card 3 -->
  <div
    class="p-4 border border-gray-300 rounded-lg shadow-xs flex justify-between items-center gap-4"
  >
    <div>
      <p class="text-sm font-medium text-gray-600">Tarifa Más Alta</p>
      <p class="text-2xl font-bold text-gray-900">
        {{ calculateHigherRate() | currency : 'COP' : 'symbol' : '1.0-0' }}
      </p>
      <p class="text-xs text-purple-600">{{ higherRate()?.modality?.name | titlecase }}</p>
    </div>
    <div class="bg-purple-100 rounded-lg flex justify-center items-center h-12 w-12">
      <shared-icon icon="smmlv" classList="text-purple-600 h-6 w-6" />
    </div>
  </div>

  <!-- Card 4 -->
  <div
    class="p-4 border border-gray-300 rounded-lg shadow-xs flex justify-between items-center gap-4"
  >
    <div>
      <p class="text-sm font-medium text-gray-600">Crédito Promedio</p>
      <p class="text-2xl font-bold text-gray-900">{{ averageCredit() | number : '1.2-2' }}</p>
      <p class="text-xs text-amber-600">SMMLV por crédito</p>
    </div>
    <div class="bg-amber-100 rounded-lg flex justify-center items-center h-12 w-12">
      <shared-icon icon="book-open" classList="text-amber-600 h-6 w-6" />
    </div>
  </div>
</div>
