<div class="overflow-x-auto">
  <table
    class="table-auto min-w-full border-separate border-spacing-0 border border-gray-300 rounded-md overflow-hidden"
  >
    <thead>
      <tr class="h-10 bg-gray-100">
        <th class="px-2 text-left text-gray-800 text-sm whitespace-nowrap border-b border-gray-300">
          Seminario
        </th>
        <th class="px-2 text-left text-gray-800 text-sm whitespace-nowrap border-b border-gray-300">
          Docente
        </th>
        <th
          class="px-2 text-center text-gray-800 text-sm whitespace-nowrap border-b border-gray-300"
        >
          Créditos
        </th>
        <th class="px-2 text-left text-gray-800 text-sm whitespace-nowrap border-b border-gray-300">
          Fechas
        </th>
        <th
          class="px-2 text-center text-gray-800 text-sm whitespace-nowrap border-b border-gray-300"
        >
          Vinculación
        </th>
        <th class="px-2 text-left text-gray-800 text-sm whitespace-nowrap border-b border-gray-300">
          Tipo de Pago
        </th>
        <th
          class="px-2 text-center text-gray-800 text-sm whitespace-nowrap border-b border-gray-300 w-4"
        >
          Transporte/Alojamiento
        </th>
        <th
          class="px-2 text-center text-gray-800 text-sm whitespace-nowrap border-b border-gray-300"
        >
          Estado
        </th>
        <th
          class="px-2 text-right text-gray-800 text-sm whitespace-nowrap border-b border-gray-300 w-10"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      @for (seminar of seminaries(); track seminar.id; let last = $last) {
      <tr class="h-10 hover:bg-gray-50">
        <td [class.border-b]="!last" class="px-2 py-4 text-left whitespace-nowrap border-gray-300">
          <div class="flex flex-col justify-center items-start">
            <p class="text-sm font-medium">{{ seminar.name | titlecase }}</p>
            <span class="text-xs text-gray-500"
              >Creado: {{ seminar.createdAt | date : 'medium' }}</span
            >
          </div>
        </td>
        <td [class.border-b]="!last" class="px-2 py-4 text-left whitespace-nowrap border-gray-300">
          <div class="flex flex-col justify-center items-start">
            <p class="text-sm font-medium">{{ seminar.seminarDocent.docent.name | titlecase }}</p>
            <span class="text-xs text-gray-500 uppercase"
              >{{ seminar.seminarDocent.docent.document_type }}:
              {{ seminar.seminarDocent.docent.document_number | number }}</span
            >
            <span class="text-xs text-gray-500">{{
              seminar.seminarDocent.docent.schoolGrade.name | titlecase
            }}</span>
          </div>
        </td>
        <td
          [class.border-b]="!last"
          class="px-2 py-4 text-center whitespace-nowrap border-gray-300"
        >
          <div class="flex flex-col justify-center items-center">
            <span class="text-xs border border-gray-300 px-2 rounded-md font-medium">{{
              seminar.credits
            }}</span>
          </div>
        </td>
        <td
          [class.border-b]="!last"
          class="px-2 py-4 text-center whitespace-nowrap border-gray-300"
        >
          <div class="space-y-1">
            @for (date of seminar.dates; track date.id) {
            <div class="flex flex-row justify-start items-center gap-1">
              <shared-icon icon="calendar" classList="w-3 h-3 text-gray-500" />
              <span class="text-xs text-gray-500">{{ date.date | date : 'd MMM y' }}</span>
            </div>
            }
          </div>
        </td>
        <td
          [class.border-b]="!last"
          class="px-2 py-4 text-center whitespace-nowrap border-gray-300"
        >
          <div class="flex flex-col justify-center items-center">
            <span
              [class.text-amber-600]="seminar.seminarDocent.vinculation === 'EXTERNAL'"
              [class.bg-amber-100]="seminar.seminarDocent.vinculation === 'EXTERNAL'"
              [class.border-amber-300]="seminar.seminarDocent.vinculation === 'EXTERNAL'"
              [class.text-purple-600]="seminar.seminarDocent.vinculation === 'INTERNAL'"
              [class.bg-purple-100]="seminar.seminarDocent.vinculation === 'INTERNAL'"
              [class.border-purple-300]="seminar.seminarDocent.vinculation === 'INTERNAL'"
              class="text-xs border px-2 rounded-md font-medium"
              >{{ seminar.seminarDocent.vinculation | i18nSelect : docentVinculationMapping }}</span
            >
          </div>
        </td>
        <td
          [class.border-b]="!last"
          class="px-2 py-4 text-center whitespace-nowrap border-gray-300"
        >
          <div class="flex flex-col justify-center items-start">
            <span class="text-xs text-gray-500">{{
              seminar.payment_type | i18nSelect : paymentTypeMapping
            }}</span>
          </div>
        </td>
        <td
          [class.border-b]="!last"
          class="px-2 py-4 text-center whitespace-nowrap border-gray-300"
        >
          <div class="flex justify-center items-center">
            <button
              (click)="toggleRow(seminar.id)"
              type="button"
              class="flex justify-between items-center gap-2 hover:bg-blue-100 p-2 rounded-md"
            >
              <span>
                <shared-icon icon="airplane" classList="text-blue-600 w-4 h-4" />
              </span>
              <span>
                <shared-icon icon="transportation" classList="text-emerald-600 w-4 h-4" />
              </span>
              <span>
                <shared-icon icon="accommodation" classList="text-purple-600 w-4 h-4" />
              </span>
              <span [class.rotate-180]="isRowExpanded(seminar.id)" class="transition-transform">
                <shared-icon icon="row-down" classList="text-blue-600 w-4 h-4" />
              </span>
            </button>
          </div>
        </td>
        <td
          [class.border-b]="!last"
          class="px-2 py-4 text-center whitespace-nowrap border-gray-300"
        >
          <div class="flex flex-col justify-center items-center">
            <span
              [class.border-emerald-300]="seminar.is_active"
              [class.bg-emerald-100]="seminar.is_active"
              [class.text-emerald-600]="seminar.is_active"
              [class.border-red-300]="!seminar.is_active"
              [class.bg-red-100]="!seminar.is_active"
              [class.text-red-600]="!seminar.is_active"
              class="text-xs font-medium border px-2 rounded-md"
              >{{ seminar.is_active ? 'Activo' : 'Inactivo' }}</span
            >
          </div>
        </td>
        <td [class.border-b]="!last" class="p-2 border-gray-300">
          <div class="flex justify-center items-center gap-2">
            @if(showEdit()){
            <button
              type="button"
              (click)="onEdit.emit(seminar)"
              class="border rounded-md h-full p-1.5 flex justify-center items-center border-blue-300 bg-blue-100 hover:bg-blue-200"
            >
              <shared-icon icon="edit" classList="text-blue-600 w-3 h-3" />
            </button>
            }
            <button
              (click)="onDelete.emit(seminar)"
              type="button"
              class="border rounded-md h-full p-1.5 flex justify-center items-center border-red-300 bg-red-100 hover:bg-red-200"
            >
              <shared-icon icon="delete" classList="text-red-600 w-3 h-3" />
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="9" class="overflow-hidden">
          <div
            [class.max-h-0]="!isRowExpanded(seminar.id)"
            [class.border-b]="isRowExpanded(seminar.id) && !last"
            [class.border-t]="last && isRowExpanded(seminar.id)"
            [class.max-h-96]="isRowExpanded(seminar.id)"
            [class.opacity-0]="!isRowExpanded(seminar.id)"
            [class.opacity-100]="isRowExpanded(seminar.id)"
            class="border-gray-300 transition-all duration-300 ease-in-out"
          >
            <div class="grid grid-cols-3 gap-4 p-4">
              <div class="border p-4 border-blue-300 rounded-md bg-blue-50">
                <div class="flex justify-start items-center gap-2">
                  <span>
                    <shared-icon icon="airplane" classList="text-blue-600 w-4 h-4" />
                  </span>
                  <h4 class="text-sm font-semibold text-blue-900">Transporte Aéreo</h4>
                </div>
                <div>
                  <p class="mt-2 text-sm text-gray-600 font-semibold">
                    Valor:
                    <span class="font-normal">{{
                      (seminar.airTransportValue | currency : 'COP' : 'symbol' : '1.0-0') ||
                        'No Registrado'
                    }}</span>
                  </p>
                  <p class="text-sm text-gray-600 font-semibold">
                    Ruta:
                    <span class="font-normal">{{
                      (seminar.airTransportRoute | titlecase) || 'No Registrada'
                    }}</span>
                  </p>
                </div>
              </div>

              <div class="border p-4 border-emerald-300 rounded-md bg-emerald-50">
                <div class="flex justify-start items-center gap-2">
                  <span>
                    <shared-icon icon="transportation" classList="text-emerald-600 w-4 h-4" />
                  </span>
                  <h4 class="text-sm font-semibold text-emerald-900">Transporte Terrestre</h4>
                </div>
                <div>
                  <p class="mt-2 text-sm text-gray-600 font-semibold">
                    Valor:
                    <span class="font-normal">{{
                      (seminar.landTransportValue | currency : 'COP' : 'symbol' : '1.0-0') ||
                        'No Registrado'
                    }}</span>
                  </p>
                  <p class="text-sm text-gray-600 font-semibold">
                    Ruta:
                    <span class="font-normal">{{
                      (seminar.landTransportRoute | titlecase) || 'No Registrada'
                    }}</span>
                  </p>
                </div>
              </div>

              <div class="border p-4 border-purple-300 rounded-md bg-purple-50">
                <div class="flex justify-start items-center gap-2">
                  <span>
                    <shared-icon icon="accommodation" classList="text-purple-600 w-4 h-4" />
                  </span>
                  <h4 class="text-sm font-semibold text-purple-900">Alojamiento</h4>
                </div>
                <div>
                  <p class="mt-2 text-sm text-gray-600 font-semibold">
                    Ayuda:
                    <span class="font-normal">{{
                      (seminar.foodAndLodgingAid | currency : 'COP' : 'symbol' : '1.0-0') ||
                        'No Registrada'
                    }}</span>
                  </p>
                  <p class="text-sm text-gray-600 font-semibold">
                    Días:
                    <span class="font-normal">{{ seminar.eventStayDays || 'No Registrada' }}</span>
                  </p>
                  <p class="text-sm text-gray-600 font-semibold">
                    Ubicación:
                    <span class="font-normal">{{
                      (seminar.hotelLocation | titlecase) || 'No Registrada'
                    }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <!--  -->
      }@empty {
      <tr class="h-10">
        <td
          colspan="9"
          class="px-2 text-center text-sm whitespace-nowrap"
          [class]="colorMessageNoData()"
        >
          {{ messageNoData() }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
