<form [formGroup]="myForm">
  <div class="grid grid-cols-1 xl:grid-cols-3 gap-4">
    <div class="col-span-1 xl:col-span-3 text-center">
      <h2 class="text-sm text-center font-medium">Filtros de busqueda:</h2>
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-sm font-semibold text-gray-800" for="idEducationalLevel"
        >Nivel Educativo:</label
      >
      <select formControlName="idEducationalLevel" id="idEducationalLevel">
        <option selected disabled [value]="null">Seleccionar Nivel Educativo</option>
        @for (schoolG of schoolGQuery.data()?.data; track $index) {
        <option [value]="schoolG.id">{{ schoolG.description | titlecase }}</option>
        }
      </select>
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-sm font-semibold text-gray-800" for="idMethodology">Metodologia:</label>
      <select formControlName="idMethodology" id="idMethodology">
        <option selected disabled [value]="null">Seleccionar Metodologia</option>
        @for (methodology of methodologyQuery.data()?.data; track $index) {
        <option [value]="methodology.id">
          {{ methodology.description | titlecase }}
        </option>
        }
      </select>
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-sm font-semibold text-gray-800" for="idModality">Modalidad:</label>
      <select formControlName="idModality" id="idModality">
        <option selected disabled [value]="null">Seleccionar Modalidad</option>
        @for (modality of modalityQuery.data()?.data; track $index) {
        <option [value]="modality.id">
          {{ modality.description | titlecase }}
        </option>
        }
      </select>
    </div>
  </div>

  <div class="pt-6">
    <h2 class="text-center text-sm font-medium mb-4">Buscar Programa:</h2>
    <div class="flex flex-col xl:flex-row justify-start items-start xl:items-center mb-4 gap-4">
      <label class="text-sm font-semibold text-nowrap" for="txtSearch">Nombre de Programa:</label>
      <div class="w-full">
        <input #txtSearch (input)="searchTerm.set(txtSearch.value)" type="text" class="w-full" />
      </div>
    </div>

    <program-table-existing
      [programs]="programQuery.data()?.data"
      [isLoading]="programQuery.isLoading()"
      [(selectProgram)]="programSelected"
    />

    <div class="mt-4">
      @if(programQuery.isSuccess()){
      <shared-pagination [currentPage]="currentPage()" [pages]="programQuery.data().pages" />
      }
    </div>
  </div>

  <div class="grid grid-cols-1 xl:grid-cols-2 gap-4 mt-6">
    <div class="border border-gray-200 shadow-xs p-4 rounded-md">
      <div class="mb-4 flex flex-col xl:flex-row justify-between items-center">
        <h2 class="text-sm font-medium mb-2 xl:mb-0">Programa Seleccionado:</h2>
        <button
          type="button"
          (click)="programSelected.set(null)"
          class="border border-gray-300 shadow-xs font-semibold text-sm hover:bg-gray-100 w-full xl:w-fit"
        >
          Quitar Seleccionado
        </button>
      </div>
      <div class="flex justify-start items-start gap-4">
        <div class="min-w-16 min-h-16 bg-emerald-100 rounded-lg flex justify-center items-center">
          <shared-icon icon="program" classList="min-w-8 min-h-8 text-emerald-600" />
        </div>
        @if(programSelected()){
        <div>
          <p class="text-sm font-semibold">
            Programa: <span class="font-normal">{{ programSelected()?.name | titlecase }}</span>
          </p>
          <p class="text-sm font-semibold">
            Facultad: <span class="font-normal">{{ programSelected()?.faculty | titlecase }}</span>
          </p>
          <p class="text-sm font-semibold">
            Unidad: <span class="font-normal">{{ programSelected()?.unity | titlecase }}</span>
          </p>
          <p class="text-sm font-semibold">
            Jornada: <span class="font-normal">{{ programSelected()?.workday | titlecase }}</span>
          </p>
          <p class="text-sm font-semibold">
            Nivel Educativo:
            <span class="font-normal">{{ programSelected()?.educationalLevel | titlecase }}</span>
          </p>
          <p class="text-sm font-semibold">
            Metodologia:
            <span class="font-normal">{{ programSelected()?.methodology | titlecase }}</span>
          </p>
          <p class="text-sm font-semibold">
            Modalidad:
            <span class="font-normal">{{ programSelected()?.modality | titlecase }}</span>
          </p>
        </div>
        }@else {
        <div class="text-sm text-gray-500">No hay programa seleccionado</div>
        }
      </div>
    </div>

    <div class="border border-gray-200 shadow-xs p-4 rounded-md">
      <div class="mb-4">
        <h2 class="text-sm font-medium text-center">Datos Basicos:</h2>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-800" for="idEducationalLevel"
            >Cohorte:</label
          >
          <input type="text" />
        </div>

        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-800" for="idEducationalLevel"
            >Semestre:</label
          >
          <input type="text" />
        </div>

        <div class="flex flex-col gap-1 col-span-2">
          <label class="text-sm font-semibold text-gray-800" for="idEducationalLevel"
            >CDP (Opcional):</label
          >
          <input type="text" />
        </div>
      </div>
    </div>
  </div>
</form>
