<div class="overflow-x-auto">
  <table
    class="table-auto min-w-full border-separate border-spacing-0 border border-gray-300 rounded-md overflow-hidden"
  >
    <thead>
      <tr class="h-10 bg-gray-100">
        <th class="px-2 text-left text-gray-800 text-sm whitespace-nowrap border-b border-gray-300">
          Programa
        </th>
        <th class="px-2 text-left text-gray-800 text-sm whitespace-nowrap border-b border-gray-300">
          Facultad
        </th>
        <th class="px-2 text-left text-gray-800 text-sm whitespace-nowrap border-b border-gray-300">
          Pensum
        </th>
        <th
          class="px-2 text-right text-gray-800 text-sm whitespace-nowrap border-b border-gray-300"
        >
          Creditos
        </th>
        <th
          class="px-2 text-right text-gray-800 text-sm whitespace-nowrap border-b border-gray-300"
        >
          Nivel Educativo
        </th>
        <th
          class="px-2 text-right text-gray-800 text-sm whitespace-nowrap border-b border-gray-300"
        >
          Metodologia
        </th>
        <th
          class="px-2 text-right text-gray-800 text-sm whitespace-nowrap border-b border-gray-300"
        >
          Modalidad
        </th>
        <th
          class="px-2 text-center text-gray-800 text-sm whitespace-nowrap border-b border-gray-300"
        >
          Seleccionado
        </th>
      </tr>
    </thead>
    <tbody>
      @if(isLoading()){
      <td colspan="8">
        <div class="w-full h-[400px] flex justify-center items-center">
          <shared-loading classList="border-4 border-gray-500 w-12 h-12" />
        </div>
      </td>
      }@else {
      <!--  -->
      @for (program of programs(); track $index; let last = $last) {
      <tr (click)="onSelect(program)" class="h-10 hover:bg-gray-50">
        <td [class.border-b]="!last" class="p-2 text-left text-sm border-gray-300">
          {{ program.name | titlecase }}
        </td>

        <td
          [class.border-b]="!last"
          class="p-2 text-left text-sm whitespace-nowrap border-gray-300"
        >
          <span class="text-xs px-2 py-1 border border-gray-200 rounded-full font-semibold">
            {{ (program.faculty | titlecase) || 'Sin Facultad' }}
          </span>
        </td>

        <td [class.border-b]="!last" class="p-2 text-left text-sm border-gray-300">
          {{ program.pensum | titlecase }}
        </td>

        <td
          [class.border-b]="!last"
          class="p-2 text-right text-sm whitespace-nowrap border-gray-300"
        >
          {{ program.credits || 0 }}
        </td>
        <td
          [class.border-b]="!last"
          class="p-2 text-right text-sm whitespace-nowrap border-gray-300"
        >
          {{ program.educationalLevel | titlecase }}
        </td>
        <td
          [class.border-b]="!last"
          class="p-2 text-right text-sm whitespace-nowrap border-gray-300"
        >
          {{ program.methodology | titlecase }}
        </td>
        <td
          [class.border-b]="!last"
          class="p-2 text-right text-sm whitespace-nowrap border-gray-300"
        >
          {{ program.modality | titlecase }}
        </td>
        <td [class.border-b]="!last" class="p-2 border-gray-300">
          @if(selectProgram()?.id === program.id){
          <div class="flex justify-center items-center">
            <div
              class="flex justify-center items-center w-4 h-4 text-xs text-green-500 bg-white border border-gray-300 rounded"
            >
              <span class="text-xs">✓</span>
            </div>
          </div>
          }
        </td>
      </tr>
      }@empty {
      <tr class="h-10">
        <td colspan="8" class="px-2 text-center text-sm text-gray-500 whitespace-nowrap">
          No hay datos disponibles
        </td>
      </tr>
      }
      <!--  -->
      }
    </tbody>
  </table>
</div>
