<div class="space-y-4">
  @for (docent of docents(); track $index) {
  <div class="p-4 border border-gray-300 rounded-md shadow-xs hover:bg-gray-50">
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-4">
      <!-- Avatar -->
      <div class="flex items-center justify-start gap-2">
        <div class="bg-emerald-100 rounded-full flex justify-center items-center h-12 w-12">
          <shared-icon icon="user-check" classList="text-emerald-600 h-6 w-6" />
        </div>
        <div>
          <p class="text-sm font-medium">{{ docent.name | titlecase }}</p>
          <p class="text-xs text-gray-500">
            {{ docent.document_type | uppercase }}: {{ docent.document_number | number }}
          </p>
        </div>
      </div>

      <div class="grid grid-cols-2 xl:grid-cols-5 col-span-2 gap-4">
        <!-- Nacionalidad -->
        <div class="flex flex-col justify-center items-start">
          <p class="text-sm text-gray-500">Nacionalidad</p>
          <p class="text-sm font-medium">{{ docent.nationality | titlecase }}</p>
        </div>

        <!-- Nivel Académico -->
        <div class="flex flex-col justify-center items-start">
          <p class="text-sm text-gray-500">Nivel Académico</p>
          <p class="text-xs font-medium bg-gray-200 px-2 py-1 rounded-full">
            {{ docent.school_grade.name | titlecase }}
          </p>
        </div>

        <!-- Contacto -->
        <div class="flex flex-col justify-center items-start">
          <div class="flex items-center gap-1">
            <shared-icon icon="phone" classList="text-gray-500 h-3 w-3 flex-shrink-0" />
            <p class="text-sm text-gray-500">{{ docent.phone }}</p>
          </div>
          <div class="flex items-center gap-1 w-full">
            <shared-icon icon="ubication" classList="text-gray-500 h-3 w-3 flex-shrink-0" />
            <p class="text-sm text-gray-500 truncate min-w-0 overflow-hidden">
              {{ docent.address | titlecase }}
            </p>
          </div>
        </div>

        <!-- Fecha de Registro -->
        <div class="flex flex-col justify-center items-start">
          <p class="text-sm text-gray-500">Fecha de Registro</p>
          <p class="text-xs font-medium">
            {{ docent.createdAt | date : 'short' }}
          </p>
        </div>

        <!-- Actions -->
        <div class="flex xl:justify-end justify-center items-center gap-2 col-span-2 xl:col-span-1">
          <button
            type="button"
            (click)="onEdit.emit(docent)"
            class="p-2 transition-colors hover:bg-blue-100 flex items-center gap-1 border border-gray-300 hover:border-blue-200"
          >
            <shared-icon icon="edit" classList="w-4 h-4 text-blue-600" />
            <span class="xl:hidden font-medium">Editar</span>
          </button>
          <button
            type="button"
            (click)="onDelete.emit(docent)"
            class="p-2 transition-colors hover:bg-red-100 flex items-center gap-1 border border-gray-300 hover:border-red-200"
          >
            <shared-icon icon="delete" classList="w-4 h-4 text-red-600" />
            <span class="xl:hidden font-medium">Eliminar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  }@empty {
  <div class="p-4 border border-gray-300 rounded-md shadow-xs flex justify-center items-center">
    <p class="text-sm text-gray-500">No hay docentes registrados.</p>
  </div>
  }
</div>
