<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col gap-1 col-span-2">
      <label class="text-sm font-semibold text-gray-800" for="name">Nombre Completo:</label>
      <input type="text" formControlName="name" id="name" />
      @if (formUtil.isValidField(myForm, 'name')) {
      <span class="text-xs text-red-400">
        {{ formUtil.getFieldError(myForm, 'name') }}
      </span>
      }
    </div>

    <div class="flex flex-col gap-1 col-span-2 md:col-span-1">
      <label class="text-sm font-semibold text-gray-800" for="credits">Créditos:</label>
      <input min="1" type="number" formControlName="credits" id="credits" />
      @if (formUtil.isValidField(myForm, 'credits')) {
      <span class="text-xs text-red-400">
        {{ formUtil.getFieldError(myForm, 'credits') }}
      </span>
      }
    </div>

    <div class="flex flex-col gap-1 col-span-2 md:col-span-1">
      <label class="text-sm font-semibold text-gray-800" for="docent_vinculation"
        >Vinculación del Docente:</label
      >
      <select formControlName="docent_vinculation" id="docent_vinculation">
        <option [value]="null" disabled selected>Seleccionar</option>
        @for (option of vinculationOptions(); track $index) {
        <option [value]="option.value">{{ option.label }}</option>
        }
      </select>
      @if (formUtil.isValidField(myForm, 'docent_vinculation')) {
      <span class="text-xs text-red-400">
        {{ formUtil.getFieldError(myForm, 'docent_vinculation') }}
      </span>
      }
    </div>

    <div class="flex flex-col gap-1 col-span-2">
      <label class="text-sm font-semibold text-gray-800" for="payment_type">Tipo de Pago:</label>
      <select formControlName="payment_type" id="payment_type">
        <option [value]="null" disabled selected>Seleccionar</option>
        @for (option of paymentTypeOptions(); track $index) {
        <option [value]="option.value">{{ option.label }}</option>
        }
      </select>
      @if (formUtil.isValidField(myForm, 'payment_type')) {
      <span class="text-xs text-red-400">
        {{ formUtil.getFieldError(myForm, 'payment_type') }}
      </span>
      }
    </div>

    <div class="flex flex-col gap-1 col-span-2">
      <label class="text-sm font-semibold text-gray-800" for="docent_search">Docente:</label>
      <shared-auto-complete
        #autoComplete
        [isLoading]="docentQuery.isLoading()"
        (searchChange)="docentSearchTerm.set($event)"
        (selectedItem)="setSeletedDocent($event)"
        [items]="docentQuery.data()?.data"
        [displayWith]="getDocentDisplay"
        [initialValue]="docentInfo()"
        placeholder="Buscar por nombre o identificación"
      />

      @if (formUtil.isValidField(myForm, 'docent_id')) {
      <span class="text-xs text-red-400">
        {{ formUtil.getFieldError(myForm, 'docent_id') }}
      </span>
      }
    </div>

    <div class="flex flex-col gap-1 col-span-2">
      <div class="w-full flex justify-between items-center">
        <label class="text-sm font-semibold text-gray-800" for="docent_vinculation"
          >Fechas del Seminario:</label
        >
        <button
          type="button"
          (click)="addDate()"
          class="border border-gray-300 font-medium flex justify-center items-center gap-1 px-2 py-1 hover:bg-gray-100"
        >
          <shared-icon icon="add" classList="w-4 h-4" />
          <span class="text-sm">Agregar Fecha</span>
        </button>
      </div>
      <div class="mt-3 space-y-3">
        @for (date of myForm.controls.dates.controls; track $index) {
        <div class="flex flex-col">
          <div class="flex items-center gap-2">
            <input type="date" [formControl]="date" />
            <button
              (click)="deleteDate($index)"
              type="button"
              class="p-2 transition-colors hover:bg-red-100 border border-gray-300 hover:border-red-200"
            >
              <shared-icon icon="delete" classList="w-4 h-4 text-red-600" />
            </button>
          </div>
          @if (myForm.controls.dates.at($index).errors && myForm.controls.dates.at($index).touched)
          {
          <span class="text-xs text-red-400">Este campo es requerido</span>
          }
        </div>
        }@empty {
        <div class="text-sm text-gray-500 text-center border border-gray-300 rounded-md py-[6px]">
          No hay fechas agregadas
        </div>
        }
      </div>

      @if (formUtil.isValidField(myForm, 'dates')) {
      <span class="text-xs text-red-400">
        {{ formUtil.getFieldError(myForm, 'dates') }}
      </span>
      }
    </div>

    @if(seminarInfo()){
    <div class="flex flex-col gap-1 col-span-2 bg-gray-100 px-4 py-2 rounded-md">
      <div class="w-full flex justify-between items-center">
        <div class="flex-1">
          <label class="text-sm font-semibold text-gray-800" for="docent_vinculation"
            >Estado del Seminario:</label
          >
          <p class="text-sm text-gray-500">
            El seminario esta: {{ myForm.controls.is_active.value ? 'Activo' : 'Inactivo' }}
          </p>
        </div>
        <div class="flex items-center">
          <input formControlName="is_active" type="checkbox" class="w-4 h-4" />
        </div>
      </div>
      @if (formUtil.isValidField(myForm, 'docent_vinculation')) {
      <span class="text-xs text-red-400">
        {{ formUtil.getFieldError(myForm, 'docent_vinculation') }}
      </span>
      }
    </div>
    }
  </div>

  <div
    (click)="toggleActive()"
    class="border border-gray-300 rounded-md mt-4 flex items-center justify-between cursor-pointer px-3 py-1.5 hover:bg-gray-100"
  >
    <div class="flex gap-2 items-center justify-start">
      <shared-icon icon="airplane" classList="w-4 h-4" />
      <h4 class="text-sm font-semibold w-full">Transporte y Alojamiento (Opcional)</h4>
    </div>
    <div [class.rotate-180]="openOptions()" class="transition-transform">
      <shared-icon icon="row-down" classList="w-4 h-4" />
    </div>
  </div>

  <div
    [class.max-h-0]="!openOptions()"
    [class.max-h-[50rem]]="openOptions()"
    [class.mt-4]="openOptions()"
    class="space-y-4 overflow-hidden transition-all duration-300 ease-in-out"
  >
    <div class="border border-blue-300 rounded-md bg-blue-50 px-3 py-2">
      <div class="flex justify-start items-center gap-2">
        <shared-icon icon="airplane" classList="w-4 h-4 text-blue-600" />
        <h4 class="text-sm text-blue-900 font-medium">Transporte Aéreo</h4>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3 mb-1">
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-800" for="airTransportValue"
            >Valor ($):</label
          >
          <input
            appNumberFormat
            [maxIntegerDigits]="10"
            [maxDecimalDigits]="0"
            type="text"
            formControlName="airTransportValue"
            id="airTransportValue"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-800" for="airTransportRoute">Ruta:</label>
          <input type="text" formControlName="airTransportRoute" id="airTransportRoute" />
        </div>
      </div>
    </div>

    <div class="border border-emerald-300 rounded-md bg-emerald-50 px-3 py-2">
      <div class="flex justify-start items-center gap-2">
        <shared-icon icon="transportation" classList="w-4 h-4 text-emerald-600" />
        <h4 class="text-sm text-emerald-900 font-medium">Transporte Terrestre</h4>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3 mb-1">
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-800" for="landTransportValue"
            >Valor ($):</label
          >
          <input
            appNumberFormat
            [maxIntegerDigits]="10"
            [maxDecimalDigits]="0"
            type="text"
            formControlName="landTransportValue"
            id="landTransportValue"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-800" for="landTransportRoute">Ruta:</label>
          <input type="text" formControlName="landTransportRoute" id="landTransportRoute" />
        </div>
      </div>
    </div>

    <div class="border border-purple-300 rounded-md bg-purple-50 px-3 py-2">
      <div class="flex justify-start items-center gap-2">
        <shared-icon icon="accommodation" classList="w-4 h-4 text-purple-600" />
        <h4 class="text-sm text-purple-900 font-medium">Transporte Terrestre</h4>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-3 mb-1">
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-800" for="foodAndLodgingAid"
            >Ayuda ($):</label
          >
          <input
            appNumberFormat
            [maxIntegerDigits]="10"
            [maxDecimalDigits]="0"
            type="text"
            formControlName="foodAndLodgingAid"
            id="foodAndLodgingAid"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-800" for="eventStayDays"
            >Días de Estadía:</label
          >
          <input type="number" min="1" formControlName="eventStayDays" id="eventStayDays" />
          @if (formUtil.isValidField(myForm, 'eventStayDays')) {
          <span class="text-xs text-red-400">
            {{ formUtil.getFieldError(myForm, 'eventStayDays') }}
          </span>
          }
        </div>
        <div class="flex flex-col gap-1">
          <label class="text-sm font-semibold text-gray-800" for="hotelLocation"
            >Ubicación Hotel:</label
          >
          <input type="text" formControlName="hotelLocation" id="hotelLocation" />
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <button
      type="submit"
      class="bg-emerald-500 flex justify-center items-center gap-2 hover:bg-emerald-600 text-white font-medium mt-4"
    >
      <shared-icon icon="save" classList="w-4 h-4 text-white" />
      @if(seminarInfo()){
      <span>Actualizar</span>
      }@else {
      <span>Crear</span>
      }
    </button>
  </div>
</form>
