<div class="p-4 border border-gray-300 shadow-xs rounded-md">
  <div class="flex items-center gap-2 mb-4">
    <shared-icon icon="program" classList="w-6 h-6 text-emerald-600" />
    <h2 class="text-base font-semibold">Información del Programa</h2>
  </div>
  @if(program()){
  <div class="flex flex-col gap-4">
    <div>
      <p class="text-sm font-medium text-gray-500">Nombre:</p>
      <p class="text-sm font-semibold text-gray-900">
        {{ program()?.name | titlecase }}
      </p>
    </div>

    <div>
      <p class="text-sm font-medium text-gray-500">Facultad:</p>
      <div class="flex items-center gap-2">
        <shared-icon icon="faculty" classList="w-3.5 h-3.5 text-gray-700" />
        <p class="text-sm font-semibold text-gray-700">
          {{ (program()?.faculty | titlecase) || 'Sin Facultad' }}
        </p>
      </div>
    </div>

    <div>
      <p class="text-sm font-medium text-gray-500">Unidad:</p>
      <div class="flex items-center gap-2">
        <shared-icon icon="ubication" classList="w-3.5 h-3.5 text-gray-700" />
        <p class="text-sm font-semibold text-gray-700">
          {{ program()?.unity | titlecase }}
        </p>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="text-sm font-medium text-gray-500">Modalidad:</p>
        <p class="text-xs font-semibold text-gray-700 mt-1">
          <span class="border px-2 rounded-full border-gray-300 bg-gray-300">
            {{ program()?.modality | titlecase }}
          </span>
        </p>
      </div>
      <div>
        <p class="text-sm font-medium text-gray-500">Metodología:</p>
        <p class="text-xs font-semibold text-gray-700 mt-1">
          <span class="border px-2 rounded-full border-gray-300">
            {{ program()?.methodology | titlecase }}
          </span>
        </p>
      </div>
    </div>

    <div>
      <p class="text-sm font-medium text-gray-500">Jornada:</p>
      <div class="flex items-center gap-2">
        <shared-icon icon="clock" classList="w-3.5 h-3.5 text-gray-700" />
        <p class="text-sm font-semibold text-gray-700">
          {{ program()?.workday | titlecase }}
        </p>
      </div>
    </div>
  </div>
  }@else {
  <p class="text-sm text-red-400">Seleccione un programa para ver su información.</p>
  }
</div>
