<div class="p-4 border border-gray-300 shadow-xs rounded-md">
  <div class="mb-4">
    <div class="flex items-center gap-2">
      <shared-icon icon="book-open" classList="w-6 h-6 text-emerald-600" />
      <h2 class="text-base font-semibold">Seleccionar Pensum*</h2>
    </div>
    <p class="text-sm text-gray-500">Por favor, selecciona un pensum de la lista.</p>
  </div>
  <div class="space-y-4">
    @if(isLoading()){
    <div class="flex justify-center items-center h-[206px]">
      <shared-loading classList="border-4 border-gray-500 w-10 h-10" />
    </div>
    }@else {
    <!--  -->
    @for (pensum of pensums(); track pensum.id; let last = $last) {
    <!--  -->
    @let isSelected = selectPensum() && selectPensum()?.id === pensum.id;
    <!--  -->
    <div
      (click)="onSelect(pensum)"
      [class.bg-gray-200]="isSelected"
      class="flex gap-4 items-start justify-start border border-gray-200 hover:bg-gray-200 p-4 cursor-pointer rounded"
    >
      @if(isSelected){
      <div>
        <div class="flex justify-center items-center">
          <button
            class="border rounded-md h-full p-1 flex justify-center items-center border-emerald-300 bg-emerald-100"
          >
            <span class="text-xs text-emerald-600 w-2 h-2 flex justify-center items-center">
              <span>✓</span>
            </span>
          </button>
        </div>
      </div>
      }
      <program-card-pensum [isSelected]="true" [pensum]="pensum" />
    </div>
    }@empty {
    <div>
      <p class="text-sm text-red-400">No hay pensums disponibles</p>
    </div>
    } @if(!selectPensum()){
    <div class="text-sm text-red-400">
      <p>Por favor, selecciona un pensum para continuar.</p>
    </div>
    }
    <!--  -->
    }
  </div>
</div>
