<div class="p-6">
  <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4">
    <div>
      <p class="font-medium text-base">Lista de Modalidades</p>
      <p class="text-sm text-gray-500">Administra las modalidades de posgrado</p>
    </div>
    <button
      type="button"
      (click)="openModal()"
      class="w-full md:w-fit bg-emerald-600 text-white flex items-center justify-center gap-2 font-medium transition-colors hover:bg-emerald-700"
    >
      <shared-icon icon="add" classList="w-4 h-4" />
      <span class="text-sm">Agregar</span>
    </button>
  </div>
</div>

<div class="px-6 pb-6">
  @if (modalityQuery.isLoading()) {
  <div class="w-full h-[442px] flex justify-center items-center">
    <shared-loading classList="border-4 border-gray-500 w-12 h-12" />
  </div>
  }@else if (modalityQuery.isSuccess()) {
  <modality-table
    (onDelete)="onDelete($event)"
    (onEdit)="openModal($event)"
    [modalities]="modalityQuery.data().data"
  />

  <div class="mt-4">
    <shared-pagination [currentPage]="currentPage()" [pages]="modalityQuery.data().pages" />
  </div>
  }
</div>

@if (isOpenModal()) {
<shared-modal>
  <modality-form [modalityInfo]="modalityInfo()" />
</shared-modal>
}

<!--  -->

@if (isOpenModalConfirmation()) {
<shared-modal-confirmation />
}
